body {
	background-color: #151515;
	font-family: Roboto;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#controls {
	position: absolute;
	width: 100%;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}

#useNumbers {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

#useNumbers::before, #useNumbers::after {
	color: #aaaaaa;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.1s;
}

#useNumbers::before {
    content: "ABC";
	padding-right: 5px;
}

#useNumbers::after {
	content: "123";
}

#useNumbers:not(:checked)::before, #useNumbers:checked::after {
	font-size: 16px;
	color: #c42c2d;
}

#letters {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.type-task {
	position: absolute;
	text-align: center;
	width: 15vmin;
	font-size: 10vmin;
	color: hsl(359, 25%, 47%);
	transition: all 0.5s;
}

.type-task:first-child {
	opacity: 0;
	transform: translateX(-15vmin) scale(3);
}

.type-task:nth-child(2) {
	transform: scale(2);
	color: #c42c2d;
}

.type-task:nth-child(3) {
	transform: translateX(15vmin);
}

.type-task:nth-child(4) {
	transform: translateX(30vmin);
}

.type-task:nth-child(5) {
	transform: translateX(45vmin);
	opacity: 0;
}
